.alignment-form {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.ncbi-db {
    width: 100%;
    height: 400px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.col {
    width: 100%;
    margin: 0 20px;

    @for $i from 1 to 12 {
        &-#{$i} {
            flex: #{$i};
            @extend .col
        }
    }
}

.form-control {
    width: 100%;
}

.form-check {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

textarea {
    resize: none;
}

.results {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#alignmentPlot {
    flex: 3;
    width: 100%;
    margin: 50px 20px;

    .dygraph-legend {
        position: absolute;
        left: 200px !important;
    }
}

.alignmentText {
    flex: 2;
    width: 100%;
    display: inline-block;
    overflow-y: auto;
    margin: 50px 20px;
    border: 1px solid #d5d5d5;

    div{
        display: inline-block;
        margin: 0 auto;
        // margin-left: 20%;
    }
}