<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{full_name}}</p>
  <p>
    We are writing this e-mail to let you know that your request for a
    sequence alignment is ready!
    <br/>
  </p>
  <p>
    To access the results, just click
    <a href="{{address}}">here</a>
    or access the address: {{address}}.
    <br />
  </p>
  <p>
    Regards,
    <br />
  </p>
  <p>MASA Team</p>
</div>
